.banner{
  width: 1280px;
  height: 530px;
  margin: 0 auto;
  background-image: url("./banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #ccc;
  position: relative;

  .person{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    .avatar{
      position: absolute;
      top: -70px;
      left: 20px;
      width: 180px;
      height: 180px;
      background-image: url("./defaultIcon.png");
      background-size: contain;
    }

    .title{
      line-height: 40px;
      margin-left: 280px;
      font-size: 28px;
      color: #000;
    }

    .desc{
      line-height: 32px;
      font-size: 18px;
      margin-left: 280px;
      color: #333;
    }
  }
}
